header {
  background-color: rgb(0, 3, 68);
  color: white;
  img {
    width: 90px;
    height: 60px;
  }
  ul li {
    font-weight: 300;
    padding: 1.3rem 2.4rem;
    cursor: pointer;
  }
  .active {
    background-color: rgb(93, 61, 194);
  }
  .profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: black;
    background-color: rgb(196, 196, 196);
    font-size: 0.9rem;
    margin-right: 1rem;
  }
}
